body {
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: center;
    background-color: blue;
    color: white;
}


p {
    font-size: 16.5px; 
    line-height: 1.5em;
}

#centertable {
    margin-left: auto;
    margin-right: auto;
}


.gif {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
